div, img, span, a, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    /*background: #3c3f49;*/
}

.img-conference {
    width: 30%;
}

.collapse {
    position: relative;
    z-index: 10;
    right: 0;
}

.nav li a {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.nav .bolder a {
    font-size: 1.6em;
    color: #F68C1F;
}

.nav li a:hover {
    background: none;
    color: #fa692e;
}

#333333;
.header-for-image {
    max-height: 100px;
    width: auto;
    /*background-color: blue url(./img/header-bg.png) center center;*/
    background-size: cover;
    position: relative;
    z-index: 1;
}

.imageInHeader {
    position: absolute;
    top: 0;
    right: 0;
    image: repeat;
    filter: grayscale(100%);
}

.row{
  position: absolute;
  top: 400px;
  left:200px;
}
